* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}
a {
    color: black;
    text-decoration: none;
    display: flex;
    padding:10px;
    align-items: center;
}
button{
    background: none;
    border: none;
}
.top_wrapper{
    display: inline-block;
    width: 100%;
    height: 1035px;
    background: #F9F5FF;
    padding: 0px 112px 0px;
}
header{    
    position: relative;
    width: 100%;
    height: 96px;
    border-radius: 16px;
    margin-top: 32px;
    background: #FFFFFF;
    box-shadow: #F3EFEF inset 77%;
    font-family: Inter;
    font-size: 16px;
}
nav{
    /* position: absolute; */
    display: flex;
    padding: 3rem 0rem 3rem 2rem;
    width: 100%;
    height: 72px;
    align-content:center;
    align-items: center;
}
.logo_container{
    height: 72px;
    width: 76.72px;
    background-image: url(/icons/logo.svg);

}
.logo {
    width: 100%;
    height: 100%;
    
}
.sm_logo{
    width: 100%;
    height: 100%;  
}
.sm_container{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 40px;
    gap: 1rem;
}

.tele_image{
    height: 20px;
    width: 20px;
}
.wa_image{ 
    height: 20px;
    width: 20px;
}
.vk_image{
    height: 20px;
    width: 20px;
}
.icon_word { 
       
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    gap: 5px;
    padding: 10px;
}
.phone_number p{
    justify-content: center;
    display: inline-block;
    
}
    .icon_word :hover{
    color: #01EEE1;
    text-decoration: none;
    }
.contacts :hover{
    color: #01EEE1;
    text-decoration: none;
}    
.burger{
    width: 40px;
    height: 40px;
    border: 2px solid #d1d5db;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 32px;
    top: 28px;
}
.burger span {
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #1f2937; /* Темный цвет */
    margin: 4px 0;
    border-radius: 2px;
}
.burger span:first-child{
    top: 20px;
}
.burger span:last-child{
    bottom: 20px;
}
.burger:hover{
    cursor: pointer;
    background-color: rgba(210, 214, 219, 0.2);

}
.burger-menu span:hover {
    background-color: #000;
}

.visa_application {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 10px;
    width: 100%;
}

.banner_bigLettersText {
font-family: Rubik;
font-size: 65px;
font-weight: 600;
line-height: 80px;
letter-spacing: -0.02em;
text-align: left;
height: 100px;
display: block;
}

.second_string {
    background-color:#F0E7FD;
    color: #872FEE;
    display: inline-block;
    padding: 4px 12px 8px 12px;
    border-radius: 20px 20px 0px 20px;
}

.banner_getConsultation {
font-size: 18px;
font-weight: 600;
line-height: 28px;
margin-top: 0rem;        
width: 300px;
height:60px;
background-color: #A35BFB;
padding: 20px 35px;
border-radius: 16px;
font-family: Inter;
color: #FCFCFC;
}
.banner_getConsultation:hover{
    cursor: pointer;
    background-color: rgba(163, 91, 251, 0.9);
}

.girl_square {
    width: 100%;      
    display: inline-block;
    position: relative;
}
.margo_block {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 337px;
    width: 176px;
    z-index: 15;
}
.margo_sticker {
    background-image: url(/icons/sticker_margo.svg);
    background-size:contain; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    height: 176px;
    transform: rotate(-5deg);
    margin-bottom: 10px;
}
.margo_link_block {
    width: 162px;
    height: 40px;
    border: 1px solid #D2D6DB;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 8px;
    background-color: #ffffff;
    
}
.margo_link_block span{
font-family: Inter;
font-size: 14px;
font-weight: 600;
line-height: 20px;
color: black;

}
.tele_container {
}
.icon_word {
}
.tele_image {
}
.sm_logo {
}
.tele {
}
.stickerPlanetBlock {
    position: absolute;
    top: 10px;
    right: -5px;
    background-image: url(/icons/sticker_earth.svg);
    height: 145px;
    width: 145px; 
}
.curvedLineBlock {
   position: absolute;
    top: 10px;
    right: 10px;
    background-image: url(/icons/duga.png);
    background-size:contain; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: 1; 
}
.dasya_block {
    position: absolute;
    top: 200px;
    right: 10px;
    height: 337px;
    width: 176px;
    z-index: 20;
}
.dasya_sticker {
        background-image: url(/icons/sticker_dasya.svg);
        width: 100%;
        height: 176px;
        transform: rotate(3deg);
        background-size:contain; 
        background-position: center; 
        background-repeat: no-repeat;
}
.dasya_link_block {
        width: 162px;
        height: 40px;
        border: 1px solid #D2D6DB;
        display: flex;
        align-items:center;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 8px;
}
.dasya_link_block span{
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: black;
}
.card_services {
    margin-top: 5rem;
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
    gap: 32px;
}
.card_services_element {
    width: 17.5rem;
    height: 16.25rem;
    position: relative;
border-radius: 20px 20px 20px 0px;
background-color: #EEE1FD;
}
.card_services_element:nth-child(1){
    background-image: url(/icons/vector_toolbox.png);
    background-repeat: no-repeat;
    background-position: -100px;
    background-size: cover;
}
.card_services_element:nth-child(2){
    background-image: url(/icons/vector_map.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.card_services_element:nth-child(3){
    background-image: url(/icons/vector_hand_up_man.png);
    background-repeat: no-repeat;
    background-position: 20px;
    background-size: cover;
}
.card_services_element:last-child{
    background-image: url(/icons/vector_plane.png);
    background-repeat: no-repeat;
    background-position: 40px;
    background-size: cover;
}
.card_services_element h3{
display: block;
padding: 0 auto;
margin-top: 11rem;
font-family: Rubik;
font-size: 1.5rem;
text-align: center;
font-weight: 500;
line-height: 38px;
z-index: 25;

}
.card_1 {
}
.card_1_vector {
}

.card_services_element_icon {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 25;

}
.card_icon_1{
    background-image: url(/icons/toolbox_icon.svg);
}
.card_icon_2{
    background-image: url(/icons/map_icon.svg) 
}
.card_icon_3{
    background-image:  url(/icons/man_hand_up_icon.svg);
}
.card_icon_4{
    background-image:url(/icons/airplane_icon.svg);
    position: absolute;
    z-index: 5;

}
.card_2 {
}



.card_3 {
}



.card_4 {
}


.grandPopularDirectionsWrapper {
    display: inline-block;
    width: 100%;
    height: 696px;
    background: #F4FFC2;
    padding: 0px 112px 0px;
}
.popular_directions_wrapper {
    display: block;
    padding-top: 112px;
    margin: 0 auto;
    max-width: 809px;
}
h2{
    text-align: center;
font-family: Rubik;
font-size: 64px;
font-weight: 500;
line-height: 60px;
letter-spacing: -0.02em;
color: #872FEE;

}
h3{
margin-top: 24px;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: center;
color: #872FEE;

}
.popularCountryBlocks {
    margin-top:1rem;
    width: 100%;
    height: 330px;
    display: flex;
    justify-content: center;
    gap: 32px;
    
}
.country_block {
    width: 384px;
    height: 330px;
    position: relative;
    background-color: #E6D4FF;
    border-radius: 20px;
    overflow: hidden;
}

.country_block_image {
    background-image: url(/icons/frame_circles.svg);
    position: absolute;
    left: -4rem;
    top: -2rem;
    z-index: 3;
    background-repeat: repeat;
    width: 118%;
    height: 100%;

}
.country_circle_image_block{
    position: absolute;
    bottom: -3rem;
    left: 2.5rem;
    width: 284px;
    height: 100%;
    z-index: 25;
    border-radius: 8px #FFFFFF solid;
}
.spain_photo_block {
    
    background-image: url(/icons/spain_round_photo.png);
    background-repeat: no-repeat;


}
.spain_sun_block {
}
.spain_flag_block {
}
.spain_dancingGirl_block {
}
.france_photo_block {
    background-image: url(/icons/france_round_photo.png);
    background-repeat: no-repeat;
}
.italy_photo_block {
    background-image: url(/icons/italy_round_photo.png);
    background-repeat: no-repeat;
}
.spain_sun_block {
}
.country_left_block {
    position: absolute;
    left: 1rem;
    top: 2rem;
    z-index: 30;
    background-color: #ffffff;
    width: 102px;
    height: 102px;
    border-radius:100%;
    display: flex;
    align-items:center;
    justify-content: center;
}
.spain_flag_block {
}
.country_flag_block {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 30;
    background-color: #ffffff;
    width: 64px;
    height: 64px;
    border-radius:100%;
    display: flex;
    align-items:center;
    justify-content: center;
}
.spain_dancingGirl_block {
}
.country_right_bottom_block {
    position: absolute;
    right: 1rem;
    bottom: 6.5rem;
    z-index: 30;
    background-color: #ffffff;
    width: 47px;
    height: 47px;
    border-radius:100%;
    display: flex;
    align-items:center;
    justify-content: center;
}
.country_left_block_icon{
    width: 80px;
    height: 100%;

}
.country_flag_block_icon{
    width: 37px;
    height: 32px;
    
}
.country_right_bottom_block_icon{
    width: 32px;
    height: 100%;
    
}
.italy_fingers_icon{
    width: 32px;
    height: 32px;
}

.country_block_buttonsBlock {
    position: absolute;
    bottom: 0;
    z-index:100;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    gap: 35px;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 0 0 20px 20px;
}
.countryCardName {
font-family: Inter;
font-size: 20px;
font-weight: 600;
line-height: 30px;
color: #A35BFB;

}
.connect_button {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 171px;
    height: 40px;
    background-color: #872FEE;
    border-radius:8px;
    color:#FFFFFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;

}
.connect_button:hover{
    cursor: pointer;
    background-color: rgba(163, 91, 251, 0.9);
}

